.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    border-bottom: 1px solid grey;
  
    .logo-container {
      height: 100%;
      width: 600px;
      .logo {
        white-space: nowrap;
        justify-content: flex-start;
        font-family: 'League Gothic', sans-serif;
        letter-spacing: 4px;
      }
    }

  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }